body {
    font-family: 'Playfair Display', serif;
    margin: 0;

}

h1 {
    font-size: 40px;
}

.secFlexible {
    display: flex;
    margin-bottom: 200px;
}

.name_color {
    color: orangered;
}

.top_page {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle_page {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.myimage1 {
    width: 80%;
}

.split_contain {
    width: 50%;
    padding: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(235, 92, 67), rgb(240, 96, 43));
    padding: 10px 50px;
    border-radius: 5px;
    color: bisque;
    font-weight: 700;
}

.experience_book {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 15px 15px 60px gray;
    border-radius: 10px;

}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#full_developer {
    border-left: 8px solid limegreen;
}

#fresh_developer {
    border-left: 10px double blue;
}

footer p {
    text-align: center;
    color: rgb(216, 10, 10)
}